.color {
   /* background-color:#E9DC3F;*/
 background-color:white;
 
}

/*Header---------------------------------*/
header{
    background: white;
    height: auto;
}

.logo img{
    max-width: 200px;
    padding: 6px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    height: 150px;
    font-size: 25px;
}

.nav-links a {
    text-decoration: none;
    font-family: inherit;
    color: black;
    margin-right: 40px;
    font-size: 20px;
    background: white
}

.nav-links a:hover {
    color: #c7b300;
}

/*-------TITULO --------------------------*/
.main-title {
    height: 400px;
    margin: 0px;
    background-image: url(https://miro.medium.com/max/2625/1*-WIBbEvpDTAy6musI1Iq-Q.jpeg);
    background-size: cover;
    background-position: bottom;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.intro {
    padding: 30px;
    margin-left: 30px;
    max-width: 40%;
    color: white;
}

/*-------BOTONES INICIAR Y CREAR CUENTA --------------------*/

  a.buttons:hover {
    cursor: pointer;
  }
  
.buttonPpal  {
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    margin-left: 15%;
    width: 300px;
    height: 80px;
    color: black;
    margin-top: auto;
    margin: 0 10px 0 10px;
    padding: 10px;
    transition: all .3s cubic-bezier(0.67, 0.19, 0.45, 0.83);
    background-color: #ffe521;
}

a.buttonPpal
{
    text-align: center;
    color: rgb(4, 5, 1);    

}

a.buttons{
    color:black;
}

.bLike, .bComment, .bEdit, .bRemove {
    /*background: #C2095A;*/
    background: #ffe521;
    border-radius: 5px;
    color: black;
}

/*cONTENIDO---------------------------------*/
.content {
    font-size: 35px;
    text-align: auto;
    padding-bottom: 5px;
    margin-top: 50px;
     margin-left: 15%;
    margin-right: 15%;
}

.avatar  {
    margin-left: auto;
    margin-right: 30%;
}

h2{
    margin:100px;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.logoReg2 {
margin-left: 20%;
margin-bottom: 20px;
    
}

.container {
    width: 106px;
    max-width: 106px;
    align-items:baseline;
}

.containerLogin{
    justify-content: center;
    margin: 80px;
    align-items: center;
    align-content: center;
}

.reset-password {
margin-bottom: 20px;
}

/*.login  {
    width: 550px;
    height: 650px;
    padding-top: 10px;
    display: inline-block;
    font-size: 40px;
    background: rgb(248, 248, 248);
    color: rgb(0, 0, 0);
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 40px;
    border-radius:20px;

}*/
.signup {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 8px rgba( 255,255,255,0.4 ), 
        0px 9px 30px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: relative;
    border : #ffe521 3px solid;
}

.signup .header {
    margin-bottom: 20px;
}

.signup .header h3, h4 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.signup .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

.signup .sep {
    height: 1px;
    background: #e8e8e8;
    width: 306px;
    margin: 0px -25px;
}

.signup .inputs {
    margin-top: 25px;
}

.signup .inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

input:-moz-placeholder {
    color:    #b5b5b5;
}

.signup .inputs input[type=email], input[type=password] {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

.signup .inputs input[type=email]:focus, input[type=password]:focus {
    background: #fff;
    box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;   
}

.signup .inputs .checkboxy {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

.signup .inputs input[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

.signup .inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}

.signup .inputs #submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#b9c5dd),
        to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);

}

.signup .inputs #submit:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a4b0cb),
        to(#b9c5dd));
}

.button, .button3, .button4, .button5{
    text-align: center;
    width: 246px;
    height: 47px;
    z-index: 23;
    line-height: 19px;
    font-size: 10px;
    font-weight: 550;
    font-family: inherit;
    border-radius: 20px;
    background: #ffe521;
    color: #000000;
    transition: all .3s cubic-bezier(0.67, 0.19, 0.45, 0.83);
   /* padding-top: 10px;
    margin-left: 5%;*/
    
}

.buttPub, .buttPho, .buttOut {
    border-radius: 20px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin-left: 0;
    background: #dd4c39;
    width: 200px;
    margin-top: 0;
    font-size: 20px;
    color: white;
}

.buttPuPhOu {
    margin-top: 10%;
    display: -webkit-inline-box;
}

.button5 {
    margin-left: 10px;;
    text-align: center;
    background: #F4DC00;
    width: 350px;
    color: black;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*.button1 {
    background: #EAC94F;
    margin-left: 0%;
}

.button3, .button4 {
    width: 100%;
    height: 70px;
}
*/
#authGoogle {
    background-color: #dd4c39;
}

/*FINALIZA CONTENIDO*/

/*ESTO ES EL FOOTER*/
.footer {
    background: black;
    margin-top: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(255, 255, 255);
}

.root{
    margin-top: 60px;
    background: #B4436C;
}

.contactUs {
margin-right: 10%;
font-size: 25px;
}

.copyRight {
    padding-top: 20%;
    margin-left: 20%;
}
.logoCopy {
    margin-left: 15%;
}

.logo {
    margin-left: 10%;
    width: 300px;
   /* height: 10px;
    width: 20px;
    transition: 0.6s;
    transform: translateY(50px);*/
}

.avatar  {
     width:300px;
    height: 300px;
    margin: 50px;
    margin-left: 40%;
    padding-top: 10px;
    margin-top: 20px;
}

.avatar2 {
    width: 40px;
    margin-left: 40%;
    margin-right: 15%;
}

h1{
    margin: 2.8rem 0 1.68rem 1.2em;
}

.reset-password a {
 font-size: 20px; 
 margin :5px;
}

.containerRegister {
    margin: 80px;
    width: 189px;
    height: 180px;
    align-content: center;
    margin-top: 100px;
    background: rgb(143, 142, 142);
    padding-top: 40px;
    /*width: 550px;
    height: 550px;*/
    border-radius:20px;
    margin-left: 10%;
    color: white;
}

.row {
   margin-left: 120%;
    margin-right: auto;
    margin-bottom: 30px
}

.post {
    /*color: darkblue;*/
    /*background: lightyellow;*/
}

.post-descripcion {
    color: darkblue;
    background: lightyellow;
}

.formulario {
    border-style: solid;
    border-color: #F4DC00;
}


/*.intro{
        display: none;
}*/

/*RESPONSIVE*/

@media screen and (min-width: 1024px) {
.tittle {
    font-size: 20px;
}
 .containerRegister, .button5, .button2  {
    font-size: 25px;
}
.content {
    font-size: 25px;
    margin-left: 150px;
}
.containerLogin{
    font-size: 40px;
}
 .buttonPpal {
    font-size: 25px;
    width: 40%;
    height: 60px;
    margin-left: 30%; 
    padding-top: 10px;
    margin-top: 50px;

}
.button5, .button2 {
    width: 250px;
    
}
.login  {
    width: 450px;
    height: 550px;
    font-size: 30px;
    margin-top: 150px;
}
/*.button2{
    margin-top: 5px;
}*/
.logoCopy {
    margin-left: 7%;
}
.contactUs {
margin-right: 10%;
font-size: 25px;
}
.avatar  {
    margin-left: 40%;
}
.containerRegister {
    width: 550px;
    height: 450px;
    margin-left: 4%;
}

.buttPuPhOu {
    display: -webkit-inline-box;
    justify-content: space-between;
    margin-left: 10%;
}

.buttPub {
   
}
.buttPho {
    margin-left: 120%;
}

.buttOut {
    margin-left: 240%;
}
.bLike, .bComment, .bEdit, .bRemove {
margin-top: 20px;
}

.bLike {
    margin-left: 10%;
}

.bComment {
    margin-left: 5%;
}

.bEdit {
    margin-left: 5%;
}

.bRemove {
    margin-left: 5%;
}

.nav-links {
    margin-right: 30%;
   margin-left: 25%;
    margin-top: 5%;
    font-size: 50px;
}

.log-nav {
    display: unset;
}



.post-descripcion{
margin-right: 15%;
margin-left: 10%;
}

.post-titulo {
    margin-right: 15%;
    margin-left: 10%;
}

.container, .post-footer, .post-titulo {

}

.intro {
    margin-left: 15px;
}

.formulario {
    margin-left: 15px;
    margin-right: 150px;
}

.logo{
    margin-left: 10%;
    margin-right: 60%;
}
.logoReg2 {
margin-left: 35%;
margin-bottom: 20px;
    
}
.subscribe {
margin-right: 10%;
font-size: 25px;
}

.footer {
    margin-top: 20px;
}

.main-title {

}

.row {
      
      margin-left: 50%;
    margin-bottom: 20px;
}

/* RESPONSIVE -------------------------*/

@media screen and (min-width: 650px) {
    .nav-links {
        background: #fffefe;
        width: 100%;
        padding: 0 0 10px;
        display: flex;
        justify-content: center;

    }

    .nav-links a{
        margin-left: 20px;
        font-size: 12px;
    }
    
    .logo a {
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    nav {
        justify-content: center;
    }

    .footer-info {
        background: black;
        margin-top: 0;
        align-items: center;
        color: rgb(255, 255, 255);
    }

    h2{
        font-size:25px;
        text-align: justify;
        margin:25;
    }

a.buttons{
    font-size:25px;
     }

     .buttonPpal  {
        text-align: center;
        font-size: 25px;
        margin-left: 15%;
        border-radius: 5px;
        width: 250px;
        height: 60px;
    }

    .container {
    width: 405px;
    margin-right: 80px;
    
    }

    .avatar{
        margin: inherit;
    }

    #authGoogle {
    background-color: #dd4c39;
}
.post-descripcion {
    color: darkblue;
    background: lightyellow;
}

.logoReg2 {
margin-left: 10%;
margin-bottom: 20px;
width: 20%;
    
}
.buttPuPhOu {
   
        font-size: 15px;
    width: 100%;
}

.row {
    margin-right: 100%;
    margin-left: 20%;
    margin-bottom: 20px;
}

.post-titulo {
    color: darkblue;
}

.post-footer {
      margin-right: 50%;
    margin-left: 68%;
    margin-bottom: 20px;
}

@media screen and  (max-width: 500px) {
    .main-title, h2 {
        display:none;
    }

    .nav-links {
        background: #cac9c9;
        width: 100%;
        padding: 0px;
       margin-right: 40%;
        font-size: 12px;
    }
    
    .logo a {
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    h1{
        font-size: 3em;
    }

    .intro {
    padding: 2px;
    margin-left: 2px;
    max-width: 90%;
    }

    .logo{
     justify-content:center;
    }

    p{
        justify-content: center;
        padding: 0.1%;
        margin-top: 5%
    }

    .content {
        padding-bottom: 2px;
        margin-top: 10px;
         margin-left: 5%;
        margin-right: 5%;
        font-size: 20px;

    }

.avatar{
    width: 188px;
    height: 180px;
    margin: 80px 70px 20px 85px;
    margin-right: initial;
    padding-top: 10px;
}

form.signup{
    width: 60%;
}

    
.container-login {
    width: 2px 80px 80px 2px;
}

.button, .button2, .button3, .button4, .button5 {
    height: 40px;
    text-align: center;
    padding-top: 15px;
    margin-left: 5%;
    font-weight: 550px;
    background: #ffe521;
    margin: 10px 3px 5px 3px;
    border-radius: 2px;
}

h2{
    font-size:20px;
    text-align: justify;
    margin: 20px;
}

.signup img{
    width: 150px;
}

.containerRegister{
margin: 80px 1px 5px 10px;;
width: 100px;
height: 100px;
align-content: center;
position:relative;
}

.button5 , .button2 {
    width: 200px;
}
.containerLogin{
    margin: 80px 0px 10px 10px;
}
#authGoogle {
    background-color: #dd4c39;
}
.row {
    margin-left: auto;
    margin-right: 75%;
    margin-bottom: 20px;
}

.post-descripcion {
    color: darkblue;
    background: lightyellow;
}


@media screen and  (max-width: 380px) {
    
    h1{            
        font-size: 2em;
        }
    .nav a {
        font-size: 13px;  
    }

    .buttonPpal {
        text-align: center;
        font-size: 15px;
        margin-left: 15%;
        border-radius: 5px;
        width: 200px;
        height: 60px;
        color: black;
        margin-top: auto;
        margin: auto;
        padding: 15px;
        transition: all .3s cubic-bezier(0.67, 0.19, 0.45, 0.83);
        background-color: #ffe521;
        font-size: 15px;  
        margin: important;

     }
    
     h2{
        font-size:15px;
        margin:10px;
    }

    .container {
        width: 206px;
        max-width: 206px;    
    }
    
    .avatar{
        width: 150px;
        height: 150px;
    }


    .footer{
        display:none;
    }

#authGoogle {
    background-color: #dd4c39;
}
.row {
    margin-left: auto;
    margin-right: 75%;
    margin-bottom: 20px;
}

.post-descripcion {
    color: darkblue;
    background: lightyellow;
}

  

/* * contenedores */
/* .contenedor-form {
    background: rgba(0,0,0,.7);
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
 
    
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.contenedor-form .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #ffe521;
    border-bottom: 2px solid  #ffe521;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .toggle:hover {
    border-top: 2px solid  #ff009e;
    border-bottom: 2px solid  #ff009e;
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
}

.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid  #ffe521;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
    border-bottom: 4px solid  #ff009e;
}

.contenedor-form input[type="submit"] {
    background: #ff009e;
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover {
    background: #ff009e;
}

.contenedor-form .reset-password {
    background: #ff009e;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contenedor-form .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.contenedor-form .formulario {
    display: none;
    padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}
/*