.color {
   /* background-color:#E9DC3F;*/
 background-color:lightyellow;
}


.login  {
    width: 550px;
    height: 680px;
    /*text-align: center;*/
    padding-top: 10px;
    display: inline-block;
    font-size: 40px;
    background: #B4436C;
    color: white;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 40px;
    border-radius:20px;

}

.title {
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: white;
    background: #B4436C;
    margin-top: 40px;
}

.content {
    font-size: 40px;
    text-align: auto;
    padding-bottom: 5px;
    margin-top: 50px;
     margin-left: 15%;
    margin-right: 15%;

}

.button, .button2, .button3, .button4, .button5{
    border-radius: 30px;
    height: 70px;
    text-align: left;
    padding-top: 10px;
    margin-left: 5%;
    background: #F4DC00;
}

.button2 {
    width: 350px;
    text-align: center;
    margin-top: 20px;
    height: 60px;
}

.buttonPpal {
    text-align: center;
    font-size: 40px;
    margin-left: 15%;
    border-radius: 30px;
    background: #F4DC00;
    width: 67%;
    height: 70px;
    color: black;
    margin-top: auto;
}

.button5 {
    margin-left: 10px;;
    text-align: center;
    background: #F4DC00;
    width: 350px;
    color: black;
    margin-top: 20px;
    margin-bottom: 40px;
}

.button1 {
    background: #EAC94F;
    margin-left: 0%;
}

.button3, .button4 {
    width: 100%;
    height: 70px;
}

.footer {
    background: #B4436C;
    margin-top: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
}

.root{
    margin-top: 60px;
    background: #B4436C;
}

.contactUs {
margin-right: 10%;
font-size: 25px;
}

.copyRight {
    padding-top: 20%;
    margin-left: 20%;
}
.logoCopy {
    margin-left: 15%;
}

.menu{
    justify-content: space-between;
}
.logo {
    margin-left: 15%;
    width: 150px;
   /* height: 10px;
    width: 20px;
    transition: 0.6s;
    transform: translateY(50px);*/
}

.avatar  {
    margin-left: 40%;
    margin-right: 15%;
}

.avatar2 {
    width: 40px;
    margin-left: 40%;
    margin-right: 15%;
}

.containerRegister {
    margin-top: 50px;
    background: #B4436C;
    padding-top: 40px;
    width: 550px;
    height: 550px;
    border-radius:20px;
    margin-left: 10%;
    color:white;
}
.containerLogin {
   height: 300px;
    
}
.dinamic {
   height: 300px;
}

/*RESPONSIVE*/

@media screen and (min-width: 1024px) {
    
 .title{
  font-size: 10px;
 }

 .buttonPpal, .containerLogin, .containerRegister, .button5, .button2  {
    font-size: 30px;
}
.content {
    font-size: 25px;
}
.containerLogin{
    font-size: 60px;
}
 .buttonPpal {
    width: 40%;
    height: 60px;
    margin-left: 30%; 
    padding-top: 10px;
    margin-top: 50px;

}
.button5, .button2 {
    width: 250px;
    
}
.login  {
    width: 450px;
    height: 550px;
    font-size: 30px;
    margin-top: 150px;
}
.button2{
    margin-top: 20px;
}
.logoCopy {
    margin-left: 7%;
}
.contactUs {
margin-right: 10%;
font-size: 25px;
}
.avatar  {
    margin-left: 50%;
}
.containerRegister {
    width: 450px;
    height: 500px;
    margin-left: 10%;
    margin-top: 150px;
}
}
